.scrollPane{
    -fx-background-color: transparent;
}
.scrollPane > .viewport{
    -fx-background-color: transparent;
}

.buttonCalendar{
    -fx-background-color: #3e3e3e;
}

.buttonCalendar:hover{
    -fx-background-color: #292929;
}

.labelFont15{
    -fx-font-size: 15px;
}

.labelFont30{
    -fx-font-size: 30px;
}
